.Session {
  background-color: white;
  width: 50vw;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.Session .button {
  color: white;
}

.Session * {
  color: black;
}

.Session__header {
  border-bottom: 2px solid var(--blue);
  margin: 0;
  width: 100%;
}

.Session .add-note {
  margin-right: 0.6rem;
}

.context-info {
  color: grey;
  font-size: 0.8rem;
}

.new-note-container .add-note {
  margin-top: 1rem;
  width: fit-content;
}

.new-note-container textarea {
  width: 100%;
  margin-top: 1rem;
}
