.App {
  text-align: center;
}

.nav {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav a {
  display: inline-block;
}

.nav a img {
  height: 15vh;
  width: auto;
}

.createSessionLink {
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/* .createSessionLink:hover {

  padding: 1rem;
  margin: 0.5rem;
  margin-right: 60px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
} */

img {
  /* margin-left: 60px; */
}
