body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: var(--fontFamily);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-color: black;
}

button {
  background-color: var(--green);
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 1.2rem;
}

:root {
  --green: #31986a;
  --blue: #4a90e2;
  --blueAlpha: #4a91e27c;
  --fontFamily: Roboto, Arial, sans-serif;
}
